@import '../base/variables';

.btn-primary {
    cursor: pointer;
    background-color: $border-no-color;
    border: $border-none;
}

.btn-secondary {
    cursor: pointer;
    color: $color-secondary;
    background-color: $color-quaternary;
    border: $border-primary-size solid $color-primary;
    padding: $size-small;
}