@import '../base/variables';

@keyframes heroIcon {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-10px); }
}

#icon-animation {
    animation-name: heroIcon;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.42,0,0.58,1);
    animation-fill-mode: backwards;
}