@import '../base/variables';

.contaner-jsf-1 {
    .jsf-1-title {
        border: 3px solid red;
        font-size: $font-size-bigger;
        font-weight: $font-weight-title;
    }

    // .jsf-1-small-desc {}

    .jsf-1-big-desc { font-size: $font-size-small; }
}