@import '../base/variables';

main {
    #container-general-content {
        .title {
            font-size: $font-size-big;
            margin: 0 0 $size-medium $size-medium;
        }

        #contents{
            padding: $size-medium;
            border: 3px solid blue;
            #content-one {
                .container-show-front {
                    .content-title {}
                    .content-name-course {}
                    .content-open-modal {}
                }

                .container-modal {
                    .container-content-desc {}
                    .container-content-code {}
                }
            }
        }
    }
}