@import '../base/variables';

// Local Variables
$contentHoldersSize: 20em;
$screenSizeOne: 35em;
$screenSizeTwo: 42em;

.container-content-desc, .container-content-code {
    border: $border-primary-size solid $color-secondary;
    padding: 1em;
}

main {
    #container-general-content {
        .title {
            font-size: $font-size-big;
            margin: 0 0 $size-medium $size-medium;
        }

        #contents{
            padding: $size-medium;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            #content-one, #content-two {
                margin-bottom: 1em;
                
                @media screen and (min-width: 630px) {
                    margin-right: 1em;
                }
                .container-show-front {
                    border: $border-primary-size solid $color-primary;
                    border-radius: $size-small;
                    padding: $size-between-small-medium;
                    width: 300px;
                    .content-title {
                        font-weight: $font-weight-title;
                        font-size: $font-size-big;
                    }
                    .content-name-course {
                        font-size: $font-size-small;
                        font-weight: $font-weight-parag;
                    }
                }

                .container-modal {
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background-color: $color-tertiray;
                    .close-modal {
                        background-color: $color-secondary;
                        border: $border-none;
                        margin: $size-medium;
                        padding: $size-medium;
                        cursor: pointer;
                    }
                    
                    .overlay{
                        margin: $size-medium;
                        @media screen and (min-width: 1024px) {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                        }
                        
                        .overlay-content-desc{
                            height: 16em;
                            margin-bottom: $size-medium;
                            overflow-y: scroll;

                            @media screen and (min-width: 1024px){
                                height: $screenSizeOne;
                            }
                            @media screen and (min-width: 1440px){
                                height: $screenSizeTwo;
                            }

                            .container-content-desc {
                                background-color: $color-secondary;
                            }
                        }
                        
                        .overlay-content-code {
                            height: $contentHoldersSize;
                            overflow-y: scroll;

                            @media screen and (min-width: 1024px){
                                height: $screenSizeOne;
                            }
                            @media screen and (min-width: 1440px){
                                height: $screenSizeTwo;
                            }
                            
                            .container-content-code {
                                background-color: $color-quaternary;

                                .content-code-title {
                                    color: $color-secondary;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}