@import '../base/variables';

main {
    #container-general-content {
        .title {
            font-size: $font-size-big;
            margin: 0 0 $size-medium $size-medium;
        }

        #contents{
            padding: $size-medium;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            #content-one {
                .container-show-front {
                    border: $border-primary-size solid $color-primary;
                    border-radius: 1em;
                    padding: $size-between-small-medium;
                    width: 300px;
                    .content-title {
                        font-weight: $font-weight-title;
                        font-size: $font-size-big;
                    }
                    .content-name-course {
                        font-size: $font-size-small;
                        font-weight: $font-weight-parag;
                    }
                    .content-open-modal {
                        // margin-top: ;
                    }
                }

                .container-modal {
                    .container-content-desc {}
                    .container-content-code {}
                }
            }
        }
    }
}