@import '../base/variables';

* { font-family: $main-font; }

header {
    padding: $size-medium;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    
    nav {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            .options {
                a { color: $color-primary; }
            }

            .home { font-size: $font-size-big; }
            
            .info {
                font-size: $font-size-smaller;
                @media (min-width: 768px) {
                    visibility: hidden;
                }
            }
        }
    }
}